<!DOCTYPE html>
<html>
<head>
	<title>Urban Harvester</title>
	<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css">
	<link type="text/css" rel="stylesheet" href="/static/css/offcanvas.css">
	<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-lightbox.css">
	<link type="text/css" rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top ">
		<div class="container">
			<div class="navbar-header">
				<a href="/index" class="navbar-brand">UrbanHarvester.org</a>
				<div class="container">
					<a href="/login" class="navbar-btn btn-warning btn pull-right" >LogIn</a>
					<a href="/signup" class="navbar-btn btn-info btn pull-right"style="margin-right: 10px;">Register</a>
				</div>
				<button class="navbar-toggle" data-toggle ="collapse" data-target = ".navHeaderCollapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
		</div>
	</div>
	<div class="container" style="background-color: white;">
		<div class="navbar-header">
			<img src="/static/img/urban.png" width="100%" height="300px">
		</div>
		<div class="navbar-header pull-right collapse navbar-collapse navHeaderCollapse">
			<input type="text" class="span3 search-query" placeholder="Search..">
			<button class="btn btn-primary">Search</button>
		</div>
	</div>
		<div class="container" style="background-color: #242b38;">
			<div class="collapse navbar-collapse navHeaderCollapse" >
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="index.html">Our Mission</a></li>
					<li><a href="contact.html">Help Us Grow</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Contact Urban Harvester</a></li>
							<li><a href="#">Higjlights</a></li>
							<li><a href="#">Partner Agency</a></li>
						</ul>
					</li> 
					<li><a href="feature.html">Donate/Recieve Food</a></li>
					<li><a href="about.html">Photos</a></li>
					<li><a href="#contact" data-toggle="modal">Media</a></li>
				</ul>
			</div>
		</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>A SCALABLE SOLUTION TO HUNGER IN OUR COMMUNITY</h2>
				<ul style=""><li style="">One out of every six people in the United States is food insecure.</li>
				<li style="">40% of all food produced in the United States is wasted.</li>
				<li style="">Urban Harvester is a simple solution that connects surplus food to hungry people.</li>
				<li style="">Urban Harvester is a scalable solution in reducing hunger and waste.</li></ul>
				<br /><em style="">In the last 12 months,&nbsp;Urban Harvester's food recovery Pilot Program in Los Angeles County has connected 30,000 meals to local non profit community agencies. &nbsp;</em>
				Urban Harvester's vision is to connect untapped food sources to Non Profit Agencies feeding folks in need within local communities.<br />(recoverable food has not expired, the stamped dates sell and use by are still current. This is fresh food which is moved to make room for newer items)&nbsp;<br /><em style="">Our Pilot Program tracked over 20 tons of food diverted from the waste stream and reducing greenhouse gas emissions.&nbsp;</em><br /><br />Fresh healthy food should not be wasted it should instead become food opportunities.&nbsp;<br />We welcome your support and participation in joining our vision and committment.<br /><br />
				For the food donors our program assists with your implementation of the food donation step. We are able to design a customized procedure that does not interrupt workflow and supply chain process or food safety. And our findings have shown repeatedly there is a boost in employee morale as they are part of making a difference since 2009.<br /><br />
				
			</div>
		</div>
	</div>
	<div class="navbar navbar-default navbar-fixed-bottom">
		<div class="container">
			<p class="navbar-text pull-left">Site built by FrugalLab(SCU)</p>
			<a href="http://youtube.com" class="navbar-btn btn-danger btn pull-right">Subcribe on YouTube</a>
		</div>
	</div>
<script src="http://code.jquery.com/jquery-1.11.3.min.js" ></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/offcanvas.js"></script>
<script src="/static/js/popover.js"></script>
<script src="/static/js/tooltip.js"></script>
<script src="/static/js/bootstrap-lightbox.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>